name: {{name}}
version: '0.0.0'
synopsis: {{desc}}
description: {{desc}}
maintainer: {{author}}

dependencies:
  - base

ghc-options:
    - -Wall
    - -Werror=incomplete-patterns

executables:
  {{name}}:
    dependencies:
    - {{name}}
    ghc-options:
    - -rtsopts
    - -threaded
    - -with-rtsopts=-N
    - -Wall
    main: Main.hs
    source-dirs: app
    extra-source-files:
    - CHANGELOG.md
    - LICENSE.md
    - README.md
    - package.yaml
    - stack.yaml

library:
  dependencies:
  - aeson
  - async
  - bytestring
  - containers
  - data-default
  - lens
  - mtl
  - text
  source-dirs: src

tests:
  tests:
    dependencies:
    - {{name}}
    - tasty
    - tasty-hspec
    ghc-options:
    - -rtsopts
    - -threaded
    - -with-rtsopts=-N
    main: Main.hs
    source-dirs: test-suite
